@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Assistant');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	background-color: rgb(224,218,213);
	font-family: Assistant, sans-serif;
	text-align: center;
	font-size: 16px;
}
header {
	color: rgb(76,74,73);
	font-family: "Arima Madurai", cursive;
	text-indent: 15px;
	margin-top: 5px;
	padding: 0;
	text-align: left;
}
nav{
	text-align: right;
	margin-right: 30px;
	text-decoration: none;
	letter-spacing: 0.15em;
	word-spacing: 1.25em;
}
footer {
	padding: 20px;
	text-align: center;
}
figure {
	margin-top: 32px;
	width: 50%;
	display: inline-block;
}
a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
a:visited {
	color: black;
}
h1 {
	font-size: 40px;
}
figure img {
	width: 100%;
}
figcaption {
	margin-bottom: 1em;
}
#contact {
	text-transform: uppercase;
}
#cursive {
	font-family: Pacifico, cursive;
}
#splash {
	background:url(../images/prusikpass.JPG);
	background-size:cover;
	/* padding: 5em 0 0; */
	height: 75vh;
}
#splash div {
    width: 50%;
    height: 100%;
    background: rgba(128, 0, 128, 0.44);
    color: #fff;
    padding: 2em;
    text-align: left;
}
#slogan {
	font-style: italic;
}
#intro {
	font-size: 40px;
	padding: 20px;
	/* text-align: center; */
}
