@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Arsenal');

* {
	margin: 0;
	padding: 0;
}
header {
	font-family: "Arima Madurai", cursive;
	color: rgb(76,74,73);
	padding: .8em;
}
nav{
	text-align: right;
	padding: 0.625em 1.875em;
	text-decoration: none;
	letter-spacing: 0.15em;
	word-spacing: 1.25em;
}
body{
	font-family: Assistant, sans-serif;
	text-align: center;
	font-size: 16px;
	line-height: 1.5em;
}
a:link {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
a:visited {
	color: black;
}
a:hover {
	color: #71eeb8;
}
h1 {
	font-size: 5em;
	font-family: "Shadows Into Light", cursive;
	background-image: url(../images/prusikpass.jpg);
	background-size: cover;
	height: 8.75em;
	text-align: left;
	padding: 0.01em .5em;
	color: rgb(67,71,63);
	line-height: 2em;
}
img {
	width: 100%;
}
article {
	width: 29%;
	padding: 1%;
	margin: 1%;
	float: left;
	text-align: left;
}
figcaption {
	text-transform: uppercase;
	padding: 0.625em;
	font-weight: bold;
	text-align: center;
}
div p {
	padding: .5em;
}
footer {
	padding: 1.25em;
	text-align: center;
	clear: both;
	background-color: rgb(224,218,213)
}
.wrapper {
	width: 99%;
	margin: auto;
}
.more {
	font-weight: bold;
	opacity: .5;
	padding: 0 .625em 0 .625em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.blogh3 {
	font-size: 2.2em;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1% 2%;
	clear: both;
}
.blogfigure figure {
	width: 29%;
	padding: 1%;
	margin: 1%;
	float: left;
}
#shasta {
	float: left;
}
#cursive {
	font-family: Pacifico, cursive;
}
#posts {
	text-transform: uppercase;
	border: solid .046875em;
	font-weight: normal;
	font-size: 1.2em;
	padding: .5%;
	margin: 2% 43%;
	clear:both;
}
#intro {
	background: url(../images/shasta.jpg);
	background-size: cover;
	margin: 1.875em 0 1.875em 0
	;
}
#intro div{
	width: 25%;
	background: rgba(40,48,48,.80);
	color: rgb(255,255,255);
	padding: .5em 2em;
	text-align: left;
	float: right;
	font-size: 1.95em;
	font-family: Arsenal, sans-serif;
	line-height: 1.5em;
}
#quote {
	font-family: "Shadows Into Light", cursive;
	font-size: 1em;
}
#contact {
	text-transform: uppercase;
	padding: 1%;
	color: #fff;
	font-size: 1.25em;
	border: solid;
	margin: 1% 43%;
	background-color: rgba(0,0,0,.5);
	display: block;
}
#contact a {
	color: #fff;
	font-weight: bold;
}
#writes article{
		float: none;
		width: 60%;
		padding: 2% .6%;
		margin: 2% 19.7%;
}
#web h3 {
	font-size: 3em;
	padding: 2%;
	text-align: left;
	font-family: "Arima Madurai", cursive;
}
#web p {
	font-size: 2em;
	padding: 2%;
	font-family: "Shadows Into Light", cursive;
}
#stj h1{
	background-image: url(../images/stj4.jpg);
	background-size: cover;
	height: 11em;
	color: white;
}
#stj p, #obspeak p, #enchant p {
	margin: .5% 2%;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.5em;
}

#obspeak h1 {
	background-image: url(../images/observation.jpg);
	background-size: cover;
	height: 11em;
}
#enchant h1 {
	background-image: url(../images/enchant.jpg);
	background-size: cover;
	height: 11em;
}
@media only screen and (min-width: 1247px) and (max-width: 1408px) {
	#intro div {
		font-size: 1.8em;
		height: 32.4em;
	}
}
@media only screen and (min-width: 1247px) {
	#small {
		display: none;
	}
}
@media only screen and (max-width: 1246px) {
	article {
		width: 46%;
		padding: 1%
		margin: 1%;
	}
	.blogfigure  figure{
		width: 46%;
		padding: 1%
		margin: .5%;		
	}
	#stj p, #obspeak p, #enchant p {
		font-size: 1em;
	}
	#intro {
		background: none;
		background-size: none;
		height: none;
	}
	#intro div {
		float: none;
		width: 90%;
		padding: 5%;
		height: none;
		font-size: 1.5em;
	}
	#posts {
		font-size: 1em;
	}
}

@media only screen and (max-width: 1021px) {
	h1 {
		font-size: 3em;
	}
	nav {
		font-size: .8em;
	}
	#posts {
		font-size:1em;
	}
	#contact {
		font-size: 1em;
	}
}

@media only screen and (max-width: 833px) {
	article {
		float: none;
		width: 90%;
		padding: 2% .6%;
		margin: 3% 4.4%;
	}
	.blogfigure figure {
		float: none;
		width: 90%;
		padding: 2% .6%;
		margin: 3% 4.4%;
	}
	#writes article {
		width: 90%;
		padding: 2% .6%;
		margin: 3% 4.4%;
	}
	#posts {
		margin: 2% 38%;
	}
	#contact {
		font-size: .8em;
		margin: 1% 39%;
	}
}
@media only screen and (max-width: 700px) {
	h1, #web h3 {
		font-size: 2em;
	}
	footer {
		font-size: .8em;
	}
	.blogh3 {
		font-size: 1.3em;
	}
	#intro div {
		font-size: 1em;
	}
}
@media only screen and (max-width: 401px) {
	h1, #web h3{
		font-size: 1.4em;
	}
}